<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.rocksetta.knn-celebrity"
    versionCode = "10"
    version     = "1.02.06" >      <!-- Change this before each compile -->

  <name>Party App: Celebrity Face Match</name>
  <description>
      Tensorflowjs in an Android App
  </description>
  
  <author href="http://rocksetta.com">
      Jeremy Ellis
  </author>
  
   <!-- Core plugins -->
    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-vibration" />
    
    
    
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/> <!-- Yes this is needed -->
    
   <access origin="*" />



  
  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-8.0.0" />  

 
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="true" />



  <!-- Android only -->

  <preference name="android-installLocation" value="auto" />
  
  

  
  
</widget>
