<?xml version="1.0" encoding="utf-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id          = "com.rocksetta.knn-celebrity"
    versionCode = "10"
    version     = "1.04.01" >      <!-- Change this before each compile -->

  <name>Party App: Celebrity Face Match</name>
  <description>
      Tensorflowjs in an Android App
  </description>
  
  <author href="http://rocksetta.com">
      Jeremy Ellis
  </author>
  
  
  <!-- all platforms -->
  <preference name="phonegap-version" value="cli-8.0.0" />  

 
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="true" />



  <!-- Android only -->

  <preference name="android-installLocation" value="auto" />
    
    
    <!-- needed for camera? -->  


    <access origin="*" />

    <preference name="AndroidPersistentFileLocation" value="Internal" />
 <!--   <preference name="permissions" value="none" />   -->
    <plugin name="cordova-plugin-whitelist" spec="~1" /> 
    <plugin name="cordova-plugin-file" spec="~6" source="npm" />
    
  <!--    <plugin name="cordova-plugin-camera" source="npm" version="4.0.3" />-->
    
    
   <plugin name="com.virtuoworks.cordova-plugin-canvascamera" spec="https://github.com/VirtuoWorks/CanvasCameraPlugin.git" /> 
    <engine name="android" spec="~7.0.0" />
</widget>
